<div id="about_info">
	<h2>about me</h2>

	<p>I started my life in the technology industry with a startup called 1-Night. Our first product was a web backed card system that allowed our customers to purchase drinks, meals and tickets to events and have them all stored on their own 1-Night debit card. As the daily deals market got increasingly crowded we found ourselves focusing more and more on the events and ticketing industry. Within a few months we had repositioned ourselves as New Zealand's premier music ticketing agency. Over the next 2 years we used innovation and brand positioning to battle for market share to the point where we were the largest player in the NZ music festival market, transacting over $10 million in the summer of 2011.</p>

	<p>As co-founder and CTO my responsibility was to help design and build the innovative products that came to define our company. From our early agile beginnings in the Silverstripe php framework and on to our test driven migration into Ruby on Rails.</p>

	<p>I have recently moved to Europe where I am developing new innovative products for scandinavias leading legal services company, <a href="http://karnovgroup.com">Karnov Group</a></p>

</div>

<div id="about_image">
	<div><img src="/assets/me.jpg" alt="picture of me" /></div>
</div>

<div id="about_bio">
	<h2>education</h2>
	<p>
	Computer Science and Economics<br />
	- University of Otago
	</p>
	<p>
	UE with scholarship in Economics<br />
	- Mt Aspiring College
	</p>

	<h2>technical interests</h2>
	<p>
	Ruby on Rails, Ember.js, Silverstripe, <br />scalability (both technical and in business),<br />best practices, TDD and design patterns
	</p>

	<h2>open source work</h2>
	<p>
		Most of my work is unfortunately closed-<br />source, apart from:
		<a href="http://github.com/nickfrandsen/htmltoword">Ruby html to word gem</a>
	</p>


	<h2>languages</h2>
	<p>
	english, danish, swedish, norwegian
	</p>

	<h2>interests</h2>
	<p>
	surfing, snowboarding, music, food, <br />soccer, f1, fishing & traveling
	<p>
</div>