<div id="about_info">
	<h2>about me</h2>

	<p>My foray into the technology industry was in co-founding a startup called 1-Night. Our initial
		product was a web-backed card system that allowed our customers to purchase drinks, meals and tickets to
		events and have them all stored on their own 1-Night debit card.</p>
		
	<p>In the following 2 years we used innovation and brand positioning to battle for market share to the point where we were one of the largest players in the NZ music festival market, transacting over $10 million in the summer of 2011.</p>

	<p>As co-founder and CTO my responsibility was to help design and build the innovative products that came to define our company; from our early beginnings in the Silverstripe php framework and on to our test driven migration into Ruby on Rails and eventual sale to rival company TicketDirect.</p>

	<p>I have since moved to Copenhagen, working first for <a href="http://karnovgroup.com">Karnov Group</a> and now as a self-employed consultant.</p>

</div>

<div id="about_image">
	<div><img src="/assets/paris_coffee.jpg" alt="picture of me" /></div>
</div>

<div id="about_bio">
	<h2>education</h2>
	<p>
	Computer Science and Economics<br />
	- University of Otago, NZ
	</p>
	<p>
	UE with a scholarship in Economics<br />
	- Mt Aspiring College, NZ
	</p>

	<h2>technical interests</h2>
	<p>
	Ruby on Rails, Ember.js, Silverstripe, <br />scalability (technical and business),<br />best practices, TDD and design patterns
	</p>

	<h2>open source work</h2>
	<p>
	most of my work is closed-source,<br /> exceptions include:
		<a href="http://github.com/nickfrandsen/htmltoword">ruby html to word gem</a>
	</p>


	<h2>languages</h2>
	<p>
	english, danish, swedish, norwegian
	</p>

	<h2>interests</h2>
	<p>
	surfing, snowboarding, music, food, <br />soccer, f1, fishing & traveling
	<p>
</div>
