<div class="work_example">
	<div class="work_example_info">
		<div id="design_and_devel_icon"></div>
		<h2>The Karnov Platform</h2>
		<p>
			Karnov Jura/Juridik is the leading legal database in Scandinavia, containing laws, important cases and extensive commentary.
		</p>
		<p>
			Together with the Karnov NPD team we worked on the rebuild of the platform. This allows 50,000 legal professionals to easily browse through the millions of accessible documents and always have the Karnov commentary nearby. Along the way we managed to do a complete rewrite of all the front-end js and tidy up a lot of legacy code.
		</p>
	</div>

	<div class="work_example_image">
		<img src="/assets/jura_screenshot.png" alt="Jura screenshot" />
	</div>
</div>

<div class="work_example">
	<div class="work_example_info">
		<div id="cto_icon"></div>
		<h2>1-Night.co.nz</h2>
		<p>New Zealand's most innovative ticketing agency. Purchase your tickets online and have them loaded straight to your personal 1-Night card, no longer do you need to go searching for a printer every time you buy a ticket. In fact now you buy a ticket even if you don't have any money! Simply put it on layby and pay it off whenever you want.</p>
		<b>As featured in:</b>
		<a href="http://www.3news.co.nz/The-t-shirt-and-concert-ticket---together-at-last/tabid/728/articleID/189839/Default.aspx#.UnePgJRetyU">TV3 News</a>,
		<a href="idealog.co.nz/magazine/37/got-tickets-yourself">Idealog</a>
	</div>

	<div class="work_example_image">
		<img src="/assets/onenight_screenshot.jpg" alt="1-Night screenshot" />
	</div>
</div>

<div class="work_example">
	<div class="work_example_info">
		<div id="design_and_devel_icon"></div>
		<h2>Ambienti.co.nz</h2>
		<p>Ambienti specializes in high end residential real estate architecture and over the years had grown tired of their outdated website. To overcome this I created a new minimalist modern design for them that was completely editable directly from an integrated inline cms. They can now keep the site fresh with new projects and interesting blog articles.</p>
	</div>

	<div class="work_example_image">
		<img src="/assets/ambienti_screenshot.jpg" alt="Ambienti screenshot" />
	</div>
</div>

<div class="work_example">
	<div class="work_example_info">
		<div id="design_and_devel_icon"></div>
		<h2>Yellowfever.co.nz</h2>
		<p>Yellow Fever, NZs largest soccer site, had a large site with over 700K forums posts written in an unmaintainable and aging platform. To overcome this and help them stay fresh we migrated their entire system including all historical content into a Drupal site that they could maintain themselves. This involved creating conversions scripts to process over 700K forum posts and make them compatible with the new totally different architecture.</p>
	</div>

	<div class="work_example_image">
		<img src="/assets/yellow_screenshot.png" alt="Yellow fever screenshot" />
	</div>
</div>

<div class="work_example">
	<div class="work_example_info">
		<div id="iphone_api_icon"></div>
		<h2>1-Night iPhone App</h2>
		<p>This iPhone app was nominated as the most innovative app in New Zealand by both Onya and Tuanz and spent several weeks on the Apple most downloaded list. Every 1-Night event poster in country contains a small barcode that when scanned with this app will let you simply purchase a ticket and have it loaded straight to your iPhone. Now all you need for a night out is your iPhone.</p>
		<b>As featured in:</b>
		<a href="http://www.stuff.co.nz/technology/digital-living/4870006/Ticketing-goes-paperless-with-iPhone ">stuff.co.nz</a>
	</div>

	<div class="work_example_image">
		<img src="/assets/iphone_screenshot.jpg" alt="iPhone screenshot" />
	</div>
</div>