<!DOCTYPE html>
<html>
<head>
  <title>Nicholas Frandsen</title>
  <link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="http://faviconist.com/icons/15e507bcf8764cc227ba16974a580ad6/favicon.ico" />
</head>
<body>
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
